<td>
  <%= link_to user_path(book.user) do %>
    <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
  <% end %>
</td>

<td>
  <%= link_to book.title, book_path(book), class: "book_#{book.id}" %>
</td>

<td>
  <%= book.body %>
</td>

<td>
  <% if book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book), method: :delete do %>
        ♥<%= book.favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to book_favorites_path(book), method: :post do %>
        ♡<%= book.favorites.count %>
      <% end %>
    </p>
  <% end %>
</td>

<td>
  <p>コメント件数：<%= book.post_comments.count %></p>
</td>