<% book.post_comments.each do |post_comment| %>

        <tr>
          <td><%= link_to user_path(post_comment.user) do %>
            <%= attachment_image_tag(book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
            <%= post_comment.user.name %>
            <% end %>
          </td>
          <td>
        <%= post_comment.comment %>
        </td>
         <% if post_comment.user == current_user %>
          <td>
            <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
          </td>
        <% end %>
        <% end %>
        </tr>